[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
einops = "*"
uuid = "*"
functools = "*"
pathlib = "*"
torch = "*"
numpy = "*"
jupyter="*"
tqdm = "*"
plotly = "*"
jaxtyping = "*"
typing-extensions = "*"
ipython = "*"
rich = "*"
circuitsvis = "*"
pandas = "*"
transformer-lens = "*"
plotly-utils = "*"
plotly-express = "*"
eindex = "*"

[dev-packages]

[requires]
python_version = "3.x"